In [3]:
import pandas as pd

In [7]:
df= pd.read_csv("tested.csv")
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

Missing values in each column:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [11]:
print(df[df.isnull().any(axis=1)])

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
412         1304         1       3
413         1305         0       3
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
412                Henriksson, Miss. Jenny Lovisa  female  28.0      0      0
413                            Spector, Mr. Woolf    male   NaN      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket     Fare Cabin Embarked
0                330911   7.8292   NaN        Q
1                363272   7.0000   NaN        S
2                240276   9.6875   NaN        Q
3                315154   8.6625   NaN        S
4               3101298  12.2875   NaN        S
..                  ...      ...   ...      ...
412              347086   7.7750   NaN        S
413           A.5. 3236   8.0500   NaN        S
415  SOTON/O.Q. 3101262   7.2500   NaN        S
416              359309   8.0500   NaN        S
417                2668  22.3583   NaN        C

[331 rows x 12 columns]

In [16]:
df = df.drop(columns=["Cabin"])

In [18]:
df["Age"] = df["Age"].fillna(df["Age"].median())

In [20]:
df["Fare"] = df["Fare"].fillna(df["Fare"].median())

In [22]:
print(df.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

In [26]:
df.to_csv("cleaned_tested.csv", index=False)